<?xml version="1.0" encoding="UTF-8"?>

<wvmenu>
  <title>YouTube</title>
  <description>Video sharing service on which users worldwide can upload their videos</description>

  <ul>
    <li><a href="wvt://www.youtube.com/search.xml" class="webvi">Search</a></li>
    <li><a href="http://www.youtube.com/channels?feature=guide" class="webvi">Categories</a></li>
  </ul>
</wvmenu>
