<?xml version="1.0" encoding="UTF-8"?>
<wvmenu>
  <title>Vimeo</title>
  <description>Vimeo is video + you. We put your videos first and give you the best ways to share, discover, and be inspired.</description>

  <ul>
    <li><a href="http://vimeo.com/categories" class="webvi">Categories</a></li>
    <li><a href="http://vimeo.com/channels" class="webvi">Channels</a></li>
    <li><a href="http://vimeo.com/groups" class="webvi">Groups</a></li>
  </ul>
</wvmenu>
